.App {
  white-space: pre-wrap;
  --glitch: 1;
  --timer: 1s;
  text-align: left;
}

body {
  overflow: auto;
  font-size: 16px;
  font-family: Consolas, monospace;
  height: available;
}

.cursor {
  animation: blink 1s step-start infinite;
  animation-fill-mode: unset;
  white-space: pre;
}

.console {
  white-space: pre;
  color: #1e4474;
  display: inline-block;
}

.login {
  color: #1e4474;
  background: none;
  outline: none;
  border: none;
  resize: none;
  overflow: hidden;
  display: inline-block;
  height: 0.9em;
}

.hidden {
  background: transparent;
  border: none;
  user-select: none;
  outline: none;
  pointer-events: none;
}

::selection {
  background: transparent;
  color: transparent;
}

.unselectable {
  user-select: none;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.App-header {
  background-color: #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
