:root {
  white-space: pre;
  font-family: Consolas monospace !important;
  display: flex;
  overflow: hidden;
}

.chatarea {
  display: block;
}

.otherarea {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.flexd {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 1%;
  width: 98%;
}

.flexd > .window {
  margin: 0.25em;
  flex: 1 1 50%;
  max-width: 49%;
}

.flexd > .reactor {
  max-width: 100%;
}

.chat {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  min-height: 35%;
  background-color: #000;
  white-space: pre-wrap;
  justify-content: flex-end;
  max-height: 35%;
  width: 100%;
  flex-direction: column;
}

.messages::-webkit-scrollbar {
  display: none;
}

.window {
  border: medium solid white;
  border-radius: 0.25em;
  padding: 0.5em;
  user-select: none;
  color: white;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  overflow-x: hidden;
}

.message {
  display: flex;
  margin-block: 0;
}

.cursor {
  animation: blink 1s step-start infinite;
  animation-fill-mode: unset;
  white-space: pre;
}

.hidden {
  display: flex;
  background: transparent;
  border: none;
  user-select: none;
  outline: none;
  pointer-events: none;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
}

::selection {
  background: transparent;
  color: transparent;
}

.unselectable {
  user-select: none;
}

.pulse {
  animation: pulse 1.5s infinite alternate;
}

@keyframes pulse {
  from {
    color: red
  }
  to {
    color: gray
  }
}

.line {
  border: none;
  border-top: 1px solid #fff;
  margin: 0;
  padding: 0.1em;
  width: 100%;
  line-height: 1px;
}

.title {
  display: block;
  position: sticky;
  background-color: #000;
  color: #fff;
  font-size: 1.5em;
  font-weight: bold;
  padding: 0.1em;
  opacity: 0.5;
}

.chattitle {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 2.5%;
  margin-top: 1%;
  text-align: right;
  width: content-box;
  background: transparent;
}

.critical {
  display: inline-block;
  white-space: nowrap;
  margin: 0.25em 0 0.25em 0;
}

.fbutton {
  display: flex;
  top: 2%;
  position: relative;
  padding: 0.5em;
  border: 1px solid #fff;
  border-radius: 0.25em;
  margin: 0.5em;
  cursor: pointer;
  user-select: none;
  align-content: center;
  justify-content: center;
}

.fbutton:hover {
  background-color: #fff;
  color: #000;
}

.fbutton:active {
  background-color: #000;
  color: #fff;
}

.back {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0.75;
}

.reactor {
  justify-content: center;
  align-items: center;
}

.fill {
  top: 5%;
  left: 5%;
  display: inline-block;
  position: absolute;
  width: auto;
  height: auto;
  min-width: 90%;
  min-height: 90%;
  max-height: 90%;
  max-width: 90%;
  overflow-clip: padding-box;
}

.corner {
  position: absolute;
  top: 0;
  left: 0;
}

.directory {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  cursor: pointer;
  user-select: none;
  min-width: 100%;
}

.trselect:hover {
  background-color: #fff;
  color: #000;
}

tbody > tr {
  display: flex;
  min-width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

thead > tr {
  display: flex;
  min-width: 100%;
  flex-direction: row;
  justify-content: left;
  align-items: flex-start;
  flex: 1 1 33%;
  text-align: left;
}

tbody {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  user-select: none;
  min-width: 100%;
}

thead {
  display: flex;
  flex-direction: column;
  min-width: 100%;
  justify-content: left;
  align-items: flex-start;
}

th, td {
  cursor: pointer;
  user-select: none;
  padding: 0.5em;
  flex: 1 1 33%;
  max-width: 100%;
}

.cornermessage {
  z-index: 999;
  color: white;
  text-shadow: black 0.1em 0.1em 0.2em;
}

.disclaimer {
  position: absolute;
  bottom: 1em;
  right: 0;
  text-decoration: underline;
  user-select: none;
}

.home {
  position: absolute;
  bottom: 2em;
  right: 0;
  text-decoration: underline;
  user-select: none;
}

.notworking {
  position: absolute;
  bottom: 0;
  right: 0;
  text-decoration: underline;
  user-select: none;
}

.version {
  position: absolute;
  bottom: 3em;
  right: 0;
  user-select: none;
}

.animwindow {
  opacity: 0;
  animation: blipin 1s ease-in-out forwards 1;
}

.modal {
  position: fixed;
  z-index: 1;
  left: 10%;
  top: 10%;
  width: 80%;
  height: 80%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.8);
}

@keyframes blipin {
  0% {
    visibility: hidden;
    color: transparent;
    opacity: 1;
    transform: scale(0, 0.1);
  }
  50% {
    color: transparent;
    opacity: 1;
    transform: scale(1, 0.1);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  cursor: pointer;
  user-select: none;
  max-width: 15%;
  min-width: 15%;
  border: 0 solid #fff;
  border-radius: 5em;
}

.animwindow > * {
  opacity: 0;
  display: none;
}

.hidden > * {
  opacity: 0;
  display: none;
}

.close {
  color: #fff;
  float: right;
  position: absolute;
  top: 0;
  right: 0;
}

.log:nth-child(odd) {
  background-color: #222;
}

.log:nth-child(even) {
  background-color: #444;
}

.log {
  width: 100%;
  cursor: default;
  height: 3em;
}

.log > p {
  display: block;
  min-width: 100%;
}

.messages {
  width: 100%;
  //margin-top: -2.5%;
  padding: 0;
  overflow-y: scroll;
  flex-direction: column-reverse;
  z-index: 999;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.disabled:hover {
  background-color: transparent;
  color: #fff;
}

.shader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  background-color: #00000000;
  z-index: 999;
  pointer-events: none;
}

.shader > * {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  pointer-events: none;
}

.search {
  width: 100%;
  min-width: 100%;
  background-color: #000;
  color: #fff;
  border: 0;
  border-radius: 0;
  padding: 0.5em;
  font-size: 1.5em;
  text-align: center;
  margin: 0;
  outline: none;
}

.search::selection {
  background-color: #fff;
  color: #000;
}

.centered {
  justify-content: center;
  align-items: center;
  align-self: center;
  text-align: center;
  font-family: "Bahnschrift", sans-serif;
}

.shutdown {
  font-size: 3em;
}

.profile-window {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: pointer;
  width: 100%;
  height: 100%;
  font-size: 2em;
}

.controls {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  grid-template-areas: "a b c" "d e f" "g h i";
  grid-gap: 6em;
  overflow: hidden;
  box-sizing: content-box;
}

.emergencyinput {
  display: flex;
  width: 100%;
  font-size: 2em;
  border: 0.1em solid #fff;
  border-radius: 0.1em;
}

.blipout {
  animation: blipout 3s;
}

@keyframes blipout {
  0% {
    opacity: 1;
    transform: scale(1, 1);
  }
  50% {
    opacity: 1;
    transform: scale(1, 0.1);
  }
  100% {
    opacity: 1;
    transform: scale(0, 0.1);
  }
}