:root {
  white-space: pre;
  font-family: Consolas monospace !important;
  display: flex;
}

.timer {
  font-size: 3em;
  font-weight: bold;
  color: #fff;
  background-color: #000;
}

// stop chatarea from rendering over everything else on the page
.chatarea {
  display: block;
}

.otherarea {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.flexd {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flexd > .window {
  margin: 1em;
  flex: 1;
}

.chat {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  min-height: 14.5em;
  height: 40%;
  background-color: #000;
  white-space: pre-wrap;
  justify-content: flex-end;
  max-height: 40%;
  width: 100%;
  flex-direction: column;
}

.window {
  border: medium solid white;
  border-radius: 0.25em;
  padding: 0.5em;
  user-select: none;
  color: white;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
}

.message {
  display: flex;
  margin-block: 0;
}

.cursor {
  animation: blink 1s step-start infinite;
  animation-fill-mode: unset;
  white-space: pre;
}

.hidden {
  display: flex;
  background: transparent;
  border: none;
  user-select: none;
  outline: none;
  pointer-events: none;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
}

::selection {
  background: transparent;
  color: transparent;
}

.unselectable {
  user-select: none;
}

.line {
  border: none;
  border-top: 1px solid #fff;
  margin: 0;
  padding: 0.1em;
  width: 100%;
  line-height: 1px;
}

// should be in the top right corner of its parent (NOT the screen)
.title {
  display: block;
  float: top;
  position: sticky;
  background-color: #000;
  color: #fff;
  font-size: 1.5em;
  font-weight: bold;
  padding: 0.1em;
  opacity: 0.25;
}

.critical {
  color: #ff0000;

}

